.App {
  width: 95vw;
  height: 95vh;
  margin: auto;
  display: flex;
    /* displays each div side by side with flexbox default */
  border: 2px solid black;
}

.App-Section-One {
  /* height: 100%;  - using flexbox on .App(body) so don't need height*/
  width: 30%;
}

.App-Section-Two {
  /* height: 100%;  - using flexbox on .App(body) so don't need height*/
  width: 70%;
}