
* {
  box-sizing: border-box;
    /* box-sizing: border-box includes margin & padding in height/width sizes; */
  margin: 0;
  padding: 0;
    /* default 0 margin/padding, any changes will override */
}